<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="MyShop" providerName="System.Data.SqlClient" connectionString="Data Source=СЛАВА-ПК\SQLEXPRESS_2014;Initial Catalog=MyShop;user id=admin;password=123" />
		<add name="ElasticConnection" connectionString="Data Source=http://localhost:9200/;Initial Catalog=wsdp" />
	</connectionStrings>
</configuration>