@model Model.DTO.CategoryDTO

<div class="root-cat float-left">
	<div class="cat-name float-left">
		<a href="/Good/GetCategoryGood/?c_Id=@Model.Id" class="unclickable g_cat" onclick="goto_cat()"><b>@Model.Name</b></a>
	</div>
	@if (Model.HasChildrenCategories)
	{
		<div class="sub-cat float-left">
			@foreach (var sc in Model.ChildrenCategory)
			{
				@Html.Partial("~/Views/CategoryTree/SubCategory.cshtml", sc)
				<div class="clearfix"></div>
			}
			
		</div>
	}

	<div class="clearfix"></div>
</div>

