body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}

    ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }

.serialization li {
    line-height: 42px;
    list-style: none;
    min-height: 30px;
    padding: 5px;
    padding-left: 25px;
    list-style: none;
    font-size: 20px;
    color: #333;
    border-left: 3px solid #555;
}

    .serialization li > ul > li {
        border-left: 3px solid #999;
    }

        .serialization li > ul > li > ul > li {
            border-left: 3px solid #BBB;
        }

    .serialization li :hover {
        border-color: #318344;
        color: #318344;
    }

.placeholdertrue {
    background: #a5d3b0;
    height: 52px;
    width: 100%;
}

.transperent {
    background: rgba(0, 0, 0, 0.00);
    color: #666;
    cursor: pointer;
}

    .transperent:hover {
        background: rgba(0, 0, 0, 0.00);
        color: #888;
    }

.btn-config {
    position: absolute;
    left: 83%;
}

.btn-add {
    position: absolute;
    left: 87%;
}

.btn-remove {
    position: absolute;
    left: 91%;
}

.info {
    border: 3px dashed #979494;
    border-radius: 10px;
    min-height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

    .info h2 {
        position: absolute;
        top: 50%;
        left: 30%;
    }

.btn-addnewcategory {
    background: rgb(34, 187, 157);
    min-height: 30px;
    border: 0px solid #808080;
    padding: 15px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 16px;
    color: #FFF;
}

    .btn-addnewcategory:hover {
    }

.modal.modal-wide .modal-dialog {
    width: 50%;
}

.modal-wide .modal-body {
    padding: 5px;
    overflow-y: auto;
}

.modal-content div {
    padding: 25px;
}

.modal .form-group, .modal-body {
    padding: 5px;
}

@media screen and (max-width: 820px) {
    .modal.modal-wide .modal-dialog {
        width: 100%;
    }

    .serialization button {
        border: none;
    }

    .serialization li {
        font-size: 16px;
    }
}

.modal-body {
    padding: 5px;
}

.serialization button {
}

.btn-submit {
    height: 35px;
    width: 75px;
    margin: 3px;
}

#prop_id_delete {
    margin: 0 0 10px;
}

.properties_list .property_item {
    display: inline-block;
    font-size: 15px;
    line-height: initial;
    padding-left: 5px;
}

.properties_list {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 30px;
    text-align: left;
}

.property_item {
    height: 30px;
    line-height: initial;
    width: auto;
    text-align: center;
    margin-right: 5px;
}

.treemenu .toggler {
    float: left;
}

.properties, .properties .properties_list {
    height: auto;
    padding: 0px;
    margin: 0px;
}

.property_item .propert-actions {
    display: none;
}

.property_item:hover .propert-actions {
    display: inline;
    width: auto;
}

    .property_item:hover .propert-actions .glyphicon {
        display: inline;
    }

.update_prop {
    cursor: pointer;
}

.delete_prop {
    cursor: pointer;
}
