<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings> 
<add name="Connection" connectionString="Data Source=DESKTOP-EM10I2N; Database=GoodDB; Persist Security Info=True;User ID=sa; Password=1111; Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"/> 
</connectionStrings>
</configuration>
