
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> IFrame Page </title>
	@Styles.Render("~/Content/IFrameStyle")
</head>
<body>
	<h2>
		IFrame Page
	</h2>
	<p>
		<b>EDUDOTNET</b> is dedicated to learn/study  .NET Framework, ASP .NET, C#,
		VB.NET, SQL Server, MVC4 Tutorials. <br />
		<div>
			<b>EDUDOTNET</b> is dedicated to learn/study <span>.NET Framework</span>, ASP.NET, C#, VB.NET, SQL Server, MVC4 Tutorials.
		</div>
	</p>
	<p>
		<span>
			<h4>
				<label>
					Khumesh Kumawat
				</label>
			</h4>
		</span>
	</p>
	</p>
</body>
</html>