
@{
	ViewBag.Title = "Index";

}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title> Welcome to Xpath + IFrame + Jquery Demo</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/IFrameStyle")
</head>
<body>
	<br />
	<br />
	<br />
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="content">
						<iframe width="650" height="300" id="IFrame1" src="/Frame/IFrame"></iframe>
					</div> 
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="sidebar">
						<div class="row">
							<div class="col-xs-6 col-md-12">
								<div class="content">
									<h3>Inputs</h3>
									<ul>
										<li>
											<input type="text" size="30" />
										</li>						 
										<li>						 
											<input type="text" size="30" />
										</li>					
										<li>						
											<input type="text" size="30" />
										</li>						 
										<li>						 
											<input type="text" size="30" />
										</li>						 
										<li>						 
											<input type="text" size="30" />
										</li>
										<li class="more">
											<a href="#">Show More</a>
										</li>
									</ul>
								</div>
								<!-- ./widget -->
							</div>
						</div>
					</div>
				</div>
				<!-- ./sidebar -->
			</div>
		</div>
	</section>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Content/IFrameJs")
</body>
</html>

