
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> Welcome to Xpath + IFrame + Jquery Demo</title>
</head>
<body>
	<h2>
		Welcome to Xpath + IFrame + Jquery Demo
	</h2>
	<p>
		<b>
			Please Select An Element And Get Xpath Of Highlighted Element
		</b>
		<iframe width="700" height="500" id="IFrame1" src="/Frame/IFrame"></iframe>
	</p>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Content/js")
</body>
</html>

