################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wsdp/BAL/obj
/wsdp/BAL/bin
/wsdp/Common/bin
/wsdp/Common/obj
/wsdp/DAL/bin
/wsdp/DAL/obj
/wsdp/UnitTests/bin
/wsdp/UnitTests/obj
/wsdp/Resources/bin
/wsdp/Resources/obj
/wsdp/Model/obj
/wsdp/Model/bin
/wsdp/MainWebApp/obj
