################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wsdp/BAL/obj/Debug
/wsdp/BAL/bin/Debug
/wsdp/Common/bin/Debug
/wsdp/Common/obj/Debug
/wsdp/DAL/bin/Debug
/wsdp/DAL/obj/Debug
/wsdp/UnitTests/bin/Debug
/wsdp/UnitTests/obj/Debug
/wsdp/Resources/bin/Debug
/wsdp/Resources/obj/Debug
/wsdp/Model/obj/Debug
/wsdp/Model/bin/Debug
/wsdp/MainWebApp/obj/Debug
/wsdp/WebApp/bin

# Directories potentially created on remote AFP share

*.suo
*.cache
*/bin/*
*/obj/*
Backup/*
.vs/config/applicationhost.config

wsdp/.vs/config/applicationhost.config
*.dll
*.xml
*.nupkg
*.config
/wsdp/Model/Model.csproj.user
/wsdp/WebApp/obj/Debug/build.force
/wsdp/WebApp/WebSites
/wsdp/WebApp/4efdb1d2-4e17-4857-b63b-50fc9829e304.html
/wsdp/WebApp/App_Data/logs/log-2016-11-04.txt
/wsdp/TaskExecuter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/wsdp/TaskExecuter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/wsdp/TaskExecuter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
