################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wsdp/BAL/obj/Debug
/wsdp/BAL/bin/Debug
/wsdp/Common/bin/Debug
/wsdp/Common/obj/Debug
/wsdp/DAL/bin/Debug
/wsdp/DAL/obj/Debug
/wsdp/UnitTests/bin/Debug
/wsdp/UnitTests/obj/Debug
/wsdp/Resources/bin/Debug
/wsdp/Resources/obj/Debug
/wsdp/Model/obj/Debug
/wsdp/Model/bin/Debug
/wsdp/MainWebApp/obj/Debug
/wsdp/WebApp/bin

# Directories potentially created on remote AFP share

*.suo
*.cache
*/bin/*
*/obj/*
Backup/*
.vs/config/applicationhost.config

wsdp/.vs/config/applicationhost.config
