@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>

        </li>
        <li>@Html.ActionLink(@User.Identity.GetUserName(), "Index", "Home")</li>
        <li><a href=@Url.Action("Logout", "Account")><span class="glyphicon glyphicon glyphicon-log-out"></span></a></li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("[Sign Up]", "SignUp", "Account")</li>
        <li><a href=@Url.Action("Login", "Account")><span class="glyphicon glyphicon glyphicon-log-in"></span></a></li>
    </ul>
}


