@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @*using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li>
                
            </li>
            <li>@Html.ActionLink(@User.Identity.GetUserName(), "Index", "Home")</li>
            <li><a href="Account/Logout"><span class="glyphicon glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    //}
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("[Sign Up]", "SignUp", "Account")</li>
        <li><a href="Account/Login"><span class="glyphicon glyphicon glyphicon-log-in"></span></a></li>
    </ul>
}


