
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input id="publish" type="button" value="Publish" />
<input id="get" type="button" value="Get" />
<h4>
	Messages
</h4>
<ul id="messages"></ul>

@Scripts.Render("~/bundles/jquery")
<script>
    $(function () {
        $("#publish").click(function () {
        	$.post('Publish')
        })

        $("#get").click(function () {
        	$.post('Get', function (msg) {
                $("#messages").append("<li>" + msg + "</li>")
            })
        })
    })
</script>
