@*Settings!  Iterator!  Grabber!*@
<ul class="nav nav-pills">
    <li class="list-inline-item">
        @Html.ActionLink("Settings", "Settings")
    </li>
    <li class="list-inline-item">
        @Html.ActionLink("Iterator", "Iterator")
    </li>
    <li class="list-inline-item">
        @Html.ActionLink("Grabber", "Grabber")
    </li>
</ul>