@*Settings!  Iterator!  Grabber!*@
<ul class="nav nav-pills">
    <li class="list-inline-item">
        @Html.ActionLink(Resources.Resource.Settings, "Settings")
    </li>
    <li class="list-inline-item">
        @Html.ActionLink(Resources.Resource.Iterator, "Iterator")
    </li>
    <li class="list-inline-item">
        @Html.ActionLink(Resources.Resource.Grabber, "Grabber")
    </li>
</ul>