<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TypeWrite" value="linq" />
    <add key="TypeRead" value="xml" />
  </appSettings>
  <connectionStrings>
    <add name="DB"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=СЛАВА-ПК\SQLEXPRESS_2014;Initial Catalog=gdb;user id=admin;password=123" />
  </connectionStrings>
</configuration>