<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="MyShopNew" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Ch-044\wsdp\DAL\MyShopNew.mdf;Integrated Security=True" />
    <add name="SlavaCon" providerName="System.Data.SqlClient" connectionString="Data Source=СЛАВА-ПК\SQLEXPRESS_2014;Initial Catalog=MyShop;user id=admin;password=123" />
    <!--input your connectionString-->
    <add name="MyShop" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-EM10I2N;Initial Catalog=MyShop;Integrated Security=True;User ID=sa; Password=1111;" />
    <add name="StasConnString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS1;Initial Catalog=WsdpDB; User ID=EvelUser; Password=12345;" />
    <add name="YurasShop" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SOFTSERVE\DATABASE\YURASSHOP.MDF;Integrated Security=True" />
    <add name="OfficeSY" providerName="System.Data.SqlClient" connectionString="Data Source=ssu-sql12\tc; Initial Catalog = WsdpDb; User ID = StasY; Password = UltraPassword7;" />
    <!--<add name="NOSConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ZVERDVD-535DDA8\SQLEXPRESS;Initial Catalog=MyShop;Integrated Security=True;" />-->
    <add name="NOSConnection" providerName="System.Data.SqlClient" connectionString="Data Source=NOS-PC\NOSSERVER;Initial Catalog=MyShop;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>
