@model Model.DTO.WebShopDTO
    


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Модель компьютера</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            @Model.Name
        </dl>
    </div>
</div>