@model IEnumerable<Model.DB.WebShop>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<head>
    <style>
        td > img
        {
            height: 100px;
            width: auto;
    
        }
    </style>
    
</head>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">

            <thead>
            <a href="/WebShop/Create" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new shops</a>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Url</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.LogoPath" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Path
                    </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="#">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a href="#" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span> Del
                        </a>
                    </td>
                </tr>
            }
        </table>

    </div>

</div>
            
