
@{
	ViewBag.Title = "CategoryNotFound";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cf wrap container">
	<div id="products" class="row list-group">
		<h3>@Resources.Resource.CategoryNotFound</h3>
		<br />
		<br />
		<h3><a href="@Url.Action("Index", "Home")">@Resources.Resource.GoHome</a></h3>
</div>
</div>