@model IEnumerable<Model.DTO.PhoneSimpleDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Phones</h2>

<div class="container">

    @foreach (var phone in Model)
    {
        <div class="phone-simple-object">
            <div class="media">
                <div class="media-left">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="@phone.ImgUrl" alt="@phone.Name" style="">
                    </a>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">@phone.Name</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>


    }

</div>


