@model List<Model.DTO.CategoryDTO>

@{
    TagBuilder ol = new TagBuilder("ddd");

    ol.InnerHtml = "";

    foreach (var category in Model)
    {
        TagBuilder li = new TagBuilder("li");
        li.Attributes.Add("data-id", category.Id.ToString());
        li.Attributes.Add("data-name", category.Name);
        li.InnerHtml = category.Name
            + "<button class=\"btn transperent arrow btn-sm\"><span class=\"glyphicon glyphicon-chevron-right\"></span></button>"
            + "<button class=\"btn transperent btn-config btn-sm\"><span class=\"glyphicon glyphicon-cog\"></span></button>"
            + "<button class=\"btn transperent btn-add btn-sm\"><span class=\"glyphicon glyphicon-plus\"></span></button>"
            + "<button class=\"btn transperent btn-remove btn-sm\" data-toggle=\"modal\" data-target=\"#ModalDelete\"><span class=\"glyphicon glyphicon-minus\" ></span></button>";
        TagBuilder ul = new TagBuilder("ul");
        if (category.ChildrenCategory != null)
        {
            ul.InnerHtml = Html.Partial("FlexibleListCategories", category.ChildrenCategory).ToString();

        }
        li.InnerHtml += ul;
        ol.InnerHtml += li;
    }
    MvcHtmlString ms = new MvcHtmlString(ol.InnerHtml.ToString());

    @ms
}