@model Model.DTO.RoleDTO

    <td id="role">
        @Model.Name          </td>
    <td id="actions">Edit <div class='glyphicon glyphicon-edit update_user edit-user' data-role-id="@Model.Id"></div></td>
</tr>
