@model IEnumerable<Model.Product.Laptop>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">LAPTOPS</h2>
@Styles.Render("~/Content/LaptopStyle.css")
@foreach (var item in Model)
{
    <div class="row" style="margin: 20px; padding: 3em">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src=@item.ImgPath alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>@Html.ActionLink(@item.Name, "OneLaptop", new { id = item.Id })</h3>
            <h4>@item.Characteristic["Price"] грн</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            @*<a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>*@
        </div>
        <br />
        <br />
    </div>
}