.header {
	position: relative;
	height: 70px;
	z-index: 1001;
}

.float-left { float: left; }

.float-right { float: right; }

.wrap {
	max-width: 1280px;
	min-width: 320px;
	width: auto;
	background: #fff;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	z-index: 10;
}

.top-nav-bg {
	top: 20px;
	display: table;
	height: 47px;
	width: 100%;
	background: rgb(34, 187, 157);
	z-index: 10;
}

.abs { position: absolute; }

.razdel-box { width: 240px; }

.razdel-box, .search-box, .srv-box {
	display: table-cell;
	vertical-align: top;
	height: 47px;
}

.rel { position: relative; }

.razdel, .razdel:hover {
	display: block;
	text-decoration: none;
	z-index: 2;
	cursor: pointer;
}

.adapt-1024 {
	display: none !important;
	visibility: hidden !important;
}

a {
	color: rgb(34, 187, 157);
	text-decoration: none;
}

.razdel b {
	display: block;
	height: 47px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 0 0 26px;
}

.search-box input[type=checkbox], .search-box label { display: none; }

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.search-box form {
	position: relative;
	padding: 7px 58px 0 17px;
}

.search-box input[type=submit] {
	top: 7px;
	right: 57px;
	width: 41px;
	height: 33px;
	text-indent: -3000px;
	margin: 0 -41px 0 0;
}

.search-box label b, .search-box input[type=submit] {
	height: 33px;
	background: url(http://mo-neosho.civicplus.com/images/layout/design21/go.png) no-repeat;
}

.search-box form .s-inp {
	position: relative;
	background: #fff;
	padding: 0 2px;
}

.search-box input[type=text] {
	width: 100%;
	height: 33px;
	font-size: 14px;
	color: #666;
	background: 0;
	border: 0;
	padding: 0;
}

/* for categories */

.category-menu-wapper .sub-cat { display: none; }

.category-menu-wapper .root-cat:hover > .sub-cat {
	display: block;
	background-color: #eeeeee;
}
.root-cat { position: relative; 
}

.sub-cat {
	position: absolute;
	left: 250px;
}
.cat-name:hover > a > b:hover {
	background-color: rgb(34, 187, 157);
	color: #eeeeee;
	text-shadow: none;
}
.cat-name {
	/*margin-right: 4px;
	padding-bottom: 3px;*/
	width: 250px;
}

.cat-name > a {
	color: #35a;
	background-color: #f6f6f6;
	text-decoration: none;
	z-index: 8;
}

.root-cat > .cat-name > a > b {
	min-height: 34px;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	padding: 9px 10px 7px 26px;
	text-shadow: 1px 1px #fff;
	z-index: 8;
	background-color: #f6f6f6;
	position: relative;
	display: block;
}
.adv {
	height: 350px;
}
.g-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 79%;
}
.g-images {
	max-height: 227px;
}
.glyphicon-arrow-down:before {
	 padding-right: 7px;
}
.paging
{
	margin-left: 430px;
}
