
@{
	ViewBag.Title = "PriceStat";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PriceStat</h2>
	<select id="ddl_one">
		<option value="http://rozetka.com.ua/apple_iphone_7_plus_256gb_silver/p11256809/">Apple Iphone 7</option>
		<option value="http://rozetka.com.ua/samsung_sm_j320hzkdsek/p7646250/">Samsung Galaxy</option>
			
	</select>
	<input id="btn_line_chart" type="button" value="Show" />
	<select id="ddlYear">
		<option>2016</option>
	</select>
	<div style="align-content:center;">
	<canvas id="priceStat"></canvas>
	</div>