@{
    ViewBag.Title = "NetworkErrMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <span>[Sorry, but we can't provide this account or you have not registered yet.Try to use other account or register on our site.]</span>
            </div>
        </div>
    </div>
</div>
