
@{
    ViewBag.Title = "SocialNetworkErrMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SocialNetworkErrMessage</h2>

<span>Sorry</span>

@model Model.DTO.UserDTO

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })