<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <connectionStrings>
      <add name="DB2"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=СЛАВА-ПК\SQLEXPRESS_2014;Initial Catalog=gdb2;user id=admin;password=123" />
    </connectionStrings>
    </configSections>
</configuration>