<div id="EmailModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-center">Enter your email:</h4>
			</div>
			<div class="modal-body">
				<div class="form-group row">

					<div class="col-md-12">
					<label>Email:</label>
					<input class="form-control" id="email"/>
					
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-success" id="sub_email" data-dismiss="modal" onclick="Follow();">Submit</a>
			</div>
		</div>

	</div>
</div>
