@{
    ViewBag.Title = "EmptyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>@Resources.Resource.GoodsNotFounded</h2>
    </div>
</div>
