@{
    ViewBag.Title = "EmptyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Nothing to by founded by your request</h2>
    </div>
</div>
