body {
    padding-top: 50px;
    padding-bottom: 10px;
    background: rgb(255, 255, 255) !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.phone-simple-object {
    border: 1px dotted #CCC;
    margin-bottom: 10px;
    padding: 10px;
    background: #FFF;
}

.material-design-block > .media .pull-left {
    min-width: 120px;
    align-self: center;
}

    .material-design-block > .media .pull-left img {
        height: 100px;
        width: auto;
        margin: 0 auto;
    }

.material-design-block {
    margin: 10px;
    background-color: #fdfdfd;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    border-width: 1px 1px 3px 1px;
    padding: 10px;
}

    .material-design-block > h2 {
        text-align: center;
        margin: 15px auto;
    }

    .material-design-block p img {
        margin: 0 auto;
        max-height: 450px;
    }

.add-information-phone {
    min-height: 100px;
}

    .add-information-phone div div {
        vertical-align: middle;
        margin: 25px 0;
        height: 100%;
        border-right: 1px solid #CCC;
    }

.vcenter {
    min-height: 482px;
    display: flex;
    align-items: center;
}
