@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<form action="@Url.Action("Download","DownloadPage")" method="post">

    <div class="form">
        <div class="row">
            <div class="col-lg-11">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter link..." name="url">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">Download</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <iframe style="width:100%; height:1000px;" src="~/page1.html">
       
    </iframe>
</form>
<hr />

