@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />
<form action="@Url.Action("Download", "DownloadPage")" method="post">

    <div class="form">
        <div class="row">
            <div class="col-lg-11">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Enter link..." id="url" name="url">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" id="submit" type="submit">Download</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="iframe">
        <iframe src="@(ViewBag.Path)" style="width:100%; height:700px"></iframe>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#iframe").hide();
        var pathIsExist = '@ViewBag.Path';
        if (pathIsExist != "") {
            $("#iframe").show();
        }
    });
</script>


